<link href="/css/profile.css" rel="stylesheet">
<%- include("./layout/boilerplate.ejs") %>

  <body>
    <%- include("./includes/header.ejs") %>
    <%- include("./includes/aside.ejs") %>
    
    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
          <p class="breadcrumb">Home / Dashboard / Profile</p>
        </nav>
      </div>

      <section class="section dashboard mt-5">
        <div class="page-content page-container" id="page-content">
          <div class="row container d-flex justify-content-center">
            <div class="col-xl-12 col-md-12">
              <div class="card user-card-full">
                <div class="row ml-0 mr-0" style="height: 350px;">
                  <div class="col-sm-4 bg-color user-profile">
                    <div class="card-block text-center text-white">
                      <img src="<%= profilePicture %>" class="profile-image" alt="User-Profile-Image">
                      <h3 class="mt-5 f-w-600"><%= name %></h3>
                      <h6 class="mt-2 f-w-600">Chitkara University Institute of Information & Technology</h6>
                    </div>
                  </div>
                  
                  <div class="col-sm-8">
                    <div class="card-block">
                      <h3 class="mb-20 b-b-default f-w-600">User Information</h3>
                      <div class="row pt-4">
                        <div class="col-sm-6">
                          <h5 class="mb10 f-w-600">First Name</h5>
                          <p class="text-muted f-w-400"><%= firstName %></p>
                        </div>
                        <div class="col-sm-6">
                          <h5 class="mb10 f-w-600">Last Name</h5>
                          <p class="text-muted f-w-400"><%= lastName %></p>
                        </div>
                        <div class="col-sm-6">
                          <h5 class="mb10 f-w-600">Email</h5>
                          <p class="text-muted f-w-400"><%= email %></p>
                        </div>
                        <div class="col-sm-6">
                          <h5 class="mb10 f-w-600">User ID</h5>
                          <p class="text-muted f-w-400"><%= id %></p>
                        </div>
                        <div class="col-sm-6">
                          <h5 class="mb10 f-w-600">School</h5>
                          <p class="text-muted f-w-400">Chitkara University</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  
  <%- include("./includes/footer.ejs") %>

  </body>
  </html>